## Pandas Problems

## Beginner Problems

## DataFrame from Dictionary
### Create a Pandas DataFrame directly from the following dictionary:Python

### data = {'City': ['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo'],
### 'Population': [37, 28, 25, 21]}
### Set the index to be the city's rank (1, 2, 3, 4). Then, print the first three rows.

In [5]:
import pandas as pd

data = {'City': ['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo'],
               'Population': [37, 28, 25, 21]}
df = pd.DataFrame(data)

df.index = [1,2,3,4]

print(df.head(3))

       City  Population
1     Tokyo          37
2     Delhi          28
3  Shanghai          25


## Series Creation & Indexing
### Create a Pandas Series named sales_q1 from a list of quarterly sales figures: [1500, 1800, 1200, 2000]. Manually assign the index labels as ['Jan', 'Feb', 'Mar', 'Apr']. Retrieve and print the sales figure for 'Mar' using its label.

In [8]:
sales_q1 = [1500,1800,1200,2000]

df = pd.Series(sales_q1,index=("Jan","Feb","Mar","Apr"))

print(df["Mar"])

1200

## Basic Data Info
### Load a DataFrame from a local CSV file (assume one named data.csv is available with columns like ID, Name, Price, Stock). Print the data types of all columns and the number of non-null values per column

In [14]:
df = pd.read_csv('Data.csv')

print(df.dtypes)


print(df.notnull())
print(df.count())

ID          int64
Name       object
Price     float64
Stock     float64
dtype: object
     ID  Name  Price   Stock
0  True  True    True  False
1  True  True    True   True
2  True  True    True   True
3  True  True    True   True
4  True  True   False  False
ID        5
Name      5
Price     4
Stock     3
dtype: int64

## Column Selection and Access
### In the DataFrame from problem 1, select and print the entire 'Population' Series. Then, select and print the 'City' and 'Population' columns as a new DataFrame.

In [27]:
data = {'City': ['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo'],
               'Population': [37, 28, 25, 21]}
df = pd.DataFrame(data)

print(df["Population"])

df1 = df[["City","Population"]]
print(df1)

0    37
1    28
2    25
3    21
Name: Population, dtype: int64
        City  Population
0      Tokyo          37
1      Delhi          28
2   Shanghai          25
3  Sao Paulo          21

## Intermediate Problems

## Conditional Filtering (Boolean Indexing):
### Given a DataFrame of customer orders with columns Customer_ID, Amount, and Status (e.g., 'Completed', 'Pending'), filter the DataFrame to show only orders where the Status is 'Completed' AND the Amount is greater than 100.

In [31]:
data = {'Customer_ID': [1, 2, 3, 4, 5],
        'Amount': [393, 22, 479, 163, 135],
        'Status': ['Pending', 'Completed', 'Completed', 'Completed', 'Pending']}


cust_orders = pd.DataFrame(data)

order_filter = cust_orders[(cust_orders["Amount"]>=100) & (cust_orders["Status"]=="Completed")]

print(order_filter)

   Customer_ID  Amount     Status
2            3     479  Completed
3            4     163  Completed

## Missing Value Imputation
### Create a DataFrame that includes some NaN values (missing data). For example: {'A': [1, 2, np.nan, 4], 'B': [5, np.nan, 7, 8]}. Use the Pandas fillna() method to replace all missing values in column 'A' with the mean of column 'A', and replace all missing values in column 'B' with the value 0.

In [40]:
import numpy as np
data1 = {'A': [1, 2, np.nan, 4], 'B': [5, np.nan, 7, 8]}

df = pd.DataFrame(data1)

print("The mean of part A is: ",df['A'].mean())
print("The mean of part B is: ",df['B'].mean())

a_mean = df['A'].mean()
b_mean = df['B'].mean()

df1= df.fillna({"A":a_mean,"B":b_mean})
print(df1)

The mean of part A is:  2.3333333333333335
The mean of part B is:  6.666666666666667
          A         B
0  1.000000  5.000000
1  2.000000  6.666667
2  2.333333  7.000000
3  4.000000  8.000000

## String Method Manipulation
### Given a DataFrame with a Product_Name column containing mixed-case strings and leading/trailing spaces (e.g., ' milk CArton '), use Pandas string methods (.str) to remove the whitespace and convert all names to lowercase.

In [44]:
data = {
    'Product_ID': [101, 102, 103],
    'Product_Name': ['  milk CArton ', ' Apple JuIce ', ' loaf oF bReAD ']
}

df = pd.DataFrame(data)

df["Product_Name"] = df["Product_Name"].str.strip().str.lower()

print(df)

   Product_ID   Product_Name
0         101    milk carton
1         102    apple juice
2         103  loaf of bread

## Index Reset
### Load a DataFrame and then filter it based on some criteria (e.g., filtering for rows where 'Price' > 50). The resulting DataFrame will have a non-sequential index. Use the reset_index() method to convert the existing index into a new column and create a new default integer index.

In [55]:
data = {'Customer_ID': [1, 2, 3, 4, 5],
        'Price': [393, 22, 479, 163, 135]}

df = pd.DataFrame(data)

filter_df = df[(df["Price"]>50)]

reset_df = filter_df.reset_index()

reset_df_index = filter_df.reset_index(drop=True)

print(reset_df_index)

   Customer_ID  Price
0            1    393
1            3    479
2            4    163
3            5    135

## Advanced Problems

## Group-wise Aggregation
### Given a DataFrame with columns Department, Employee_ID, and Salary, use the groupby() method to calculate the average salary and the total number of employees for each unique Department.

In [62]:
data = {'Department': ['HR', 'Sales', 'IT', 'HR', 'Sales', 'IT', 'HR'],
        'Employee_ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
        'Salary': [30000, 66000, 80000, 69000, 74000, 80000, 60500]}

df = pd.DataFrame(data)

department_stat = df.groupby('Department').agg(
    Avg_Salary=('Salary', 'mean'),
    Tot_Employees=('Employee_ID', 'count')
)

print(department_stats)

            Average_Salary  Total_Employees
Department
HR            53166.666667                3
IT            80000.000000                2
Sales         70000.000000                2

## Multi-Level Grouping and Pivot
### Given sales data with columns Region, Product, and Revenue, use the pivot_table() method to create a table that shows the total Revenue for each Product across each Region. The Region should be the index and Product should be the columns.

In [79]:
data = {
    'Region': ['East', 'East', 'West', 'West', 'North', 'North', 'South', 'South'],
    'Product': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Revenue': [100, 150, 200, 120, 80, 110, 130, 90]
}
df = pd.DataFrame(data)

pivot_tab = pd.pivot_table(df, values='Revenue', index='Region', columns='Product', aggfunc='sum')

print(pivot_tab)

Product    A    B
Region
East     100  150
North     80  110
South    130   90
West     200  120

## Time Series Resampling
### Create a Pandas Series of random numbers indexed by a date range covering the entire month of November 2023 (daily frequency). Use the resample() method to aggregate the data to a weekly frequency ('W') and calculate the mean for each week.

In [99]:
date_range = pd.date_range(start='2023-11-01', end='2023-11-30', freq='D')

np.random.seed(42)
daily_series = pd.Series(np.random.randn(len(date_range)), index=date_range)

print("Original daily Series for November 2023:\n", daily_series)
print("-" * 50)

weekly_mean = daily_series.resample('W').mean()

print("Weekly mean of the Series for November 2023:\n", weekly_mean)

Original daily Series for November 2023:
 2023-11-01    0.496714
2023-11-02   -0.138264
2023-11-03    0.647689
2023-11-04    1.523030
2023-11-05   -0.234153
2023-11-06   -0.234137
2023-11-07    1.579213
2023-11-08    0.767435
2023-11-09   -0.469474
2023-11-10    0.542560
2023-11-11   -0.463418
2023-11-12   -0.465730
2023-11-13    0.241962
2023-11-14   -1.913280
2023-11-15   -1.724918
2023-11-16   -0.562288
2023-11-17   -1.012831
2023-11-18    0.314247
2023-11-19   -0.908024
2023-11-20   -1.412304
2023-11-21    1.465649
2023-11-22   -0.225776
2023-11-23    0.067528
2023-11-24   -1.424748
2023-11-25   -0.544383
2023-11-26    0.110923
2023-11-27   -1.150994
2023-11-28    0.375698
2023-11-29   -0.600639
2023-11-30   -0.291694
Freq: D, dtype: float64
--------------------------------------------------
Weekly mean of the Series for November 2023:
 2023-11-05    0.459003
2023-11-12    0.179493
2023-11-19   -0.795019
2023-11-26   -0.280444
2023-12-03   -0.416907
Freq: W-SUN, dtype: float64

## Applying a Custom Function
### Create a DataFrame with a column named Score. Define a custom function that converts a numerical score (e.g., 92) into a categorical grade (e.g., 'A', 'B', 'C'). Use the apply() method to create a new column called Grade based on the scores in the original column.

In [140]:
data = {'Score': [92, 85, 78, 65, 50, 95, 72, 88]}
df = pd.DataFrame(data)

def assign_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    elif score >= 60:
        return 'D'
    else:
        return 'F'

df['Grade'] = df['Score'].apply(assign_grade)

print(df)

   Score Grade
0     92     A
1     85     B
2     78     C
3     65     D
4     50     F
5     95     A
6     72     C
7     88     B